
/* TrainTrack
Firebase Realtime Database and MomentJS, with Bootstrap and jQuery
© Richard Trevillian, 2018-09-20
University of Richmond, Full Stack Web Development Bootcamp */

html {
    height: 100%;
}

body {
    background-color: rgba(255, 255, 255, 0);
    background: url(../images/swisstrain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#page_contents {

    margin-top: 30px;

}

.card {
    margin-bottom: 30px;
}

.card-header {
    letter-spacing: .05rem;
}

#time_box {
    float: left;
}

#schedule_box {
    float: left;
}


/* MEDIA QUERY FOR DIGITAL CLOCK */

@media (min-width: 410px) {
    #time_box {
        float: right;
    }
}