
/* Train Scheduler
Firebase Realtime Database and MomentJS, with Bootstrap and jQuery
© Richard Trevillian, 2018-09-20
University of Richmond, Full Stack Web Development Bootcamp */

/* STYLES FOR BACKGROUND IMAGE BELOW */

body {
    background: url(../images/swisstrain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* STYLES FOR SWISS RAILWAY CLOCK BELOW */
/* Swiss Railway Clock by Richard Beddington  */
/* https: //codepen.io/RichieAHB/ */
/* Thanks Richie! Sweet clock! */

*,
:before,
:after {
    box-sizing: border-box;
}

.clock {
    width: 100%;
    position: relative;
}

#clockbox {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/* STYLES FOR BOOTSTRAP TWEAKS BELOW */

.jumbotron {
    margin-top: 20px;
    background-color: rgba(226, 237, 250, 0.3);

}

.card {
    margin-bottom: 30px;
}

.card-header {
    letter-spacing: .05rem;
}

#time_box {
    float: left;
}

#schedule_box {
    float: left;
}


/* MEDIA QUERY FOR DIGITAL CLOCK BELOW */

@media (min-width: 410px) {
    #time_box {
        float: right;
    }
}