/* Train Scheduler
Firebase Realtime Database and MomentJS, with Bootstrap and jQuery
© Richard Trevillian, 2018-09-20
University of Richmond, Full Stack Web Development Bootcamp */

/* STYLES FOR BACKGROUND IMAGE BELOW */

body {
    background-color: gray;
}

body::after {
    content: "";
    background: url(assets/images/1200px-Engelberg_Bahnhof_2013-02-05.jpg);
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: -30px;
    right: 0;
    position: fixed;
    z-index: -1;
}

/* STYLES FOR SWISS RAILWAY CLOCK BELOW */
/* Swiss Railway Clock by Richard Beddington  */
/* https: //codepen.io/RichieAHB/ */
/* Thanks Richie! Sweet clock! */

*,
:before,
:after {
    box-sizing: border-box;
}

.clock {
    width: 100%;
}

#clockbox {
    width: 100%;
    margin: 0 auto;
}


/* STYLES FOR BOOTSTRAP TWEAKS BELOW */

.jumbotron {
    margin-top: 20px;
    background-color: rgba(226, 237, 250, 0.3);
}

.card {
    margin-bottom: 30px;
}

.card-header {
    letter-spacing: .05rem;
}


/* MEDIA QUERY FOR DIGITAL CLOCK BELOW */

@media (min-width: 360px) {
    #time_box {
        float: right;
    }
}